<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <link rel="help" href="/help" />
        <title>{% block title %}Codascii{% endblock %}</title>
        {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/codascii.css') }}">
        {% endblock %}
    </head>
    <body>
        <header class="container-fluid bg-primary">
            <nav class="container navbar" role="navigation">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="{{ asset('logo.png') }}" class="img-responsive" id="logo"/>
                    </div>
                    <div class="col-lg-6 col-lg-offset-5">
                        <ul class="nav navbar-nav">
                            <li><a href="#">ACCUEIL</a></li>
                            <li><a href="#">A PROPOS DE NOUS</a></li>
                            <li><a href="#">AIDE</a></li>
                            <li><a href="#">CONTACT</a></li>
                            <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-search"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="container-fluid">
            <div class="container">FOOTER</div>
        </footer>
        {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>