{% extends "CodasciiCoreBundle::base.html.twig" %}

{% block title %}
	{{ q }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	<h1>Recherche</h1>
	<p>Je suis dans la recherche !!</p>
</div>
{% endblock %}