{% extends "CodasciiCoreBundle::base.html.twig" %}

{% block title %} Tutoriels &middot; {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('codascii_homepage') }}"><span class="glyphicon glyphicon-home"></span>&nbsp; Accueil</a></li>
    <li class="active"><a href="{{ path('codascii_home_tuto') }}">Tutoriels</a></li>
{% endblock %}

{% block body %}
    <div class="container">
    	<div class="col-lg-9 block big-block">
    		<h1>{% block titre %}Tutoriels{% endblock %}</h1><hr/>
    		{% block body_tutoriels %}
    		    
    		{% endblock %}
    	</div>
    	<div class="col-lg-3 right-block">
    	{% block right_block %}
    	    
    	{% endblock %}
    	</div>
    </div>
{% endblock %}