{% extends "CodasciiCoreBundle::base.html.twig" %}

{% block title %} Tutoriels &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
    	<div class="col-lg-9">
    		<h1>{% block titre %}Tutoriels{% endblock %}</h1><hr/>
    		{% block body_tutoriels %}
    		    
    		{% endblock %}
    	</div>
    	<div class="col-lg-3 right-block">
    	{% block right_block %}
    	    
    	{% endblock %}
    	</div>
    </div>
{% endblock %}