{% extends "CodasciiTutoBundle::layout.html.twig" %}

{% block body_tutoriels %}
	<div class="row">
		{% for language in languages %}
			<div class="col-lg-4 tutoriel">
				<a href="{{ path('codascii_home_tuto')~language.name }}">
					<h3>{{ language.name|upper }}</h3>
					<img src="{{ asset('images/languages/'~language.languageImage.name) }}" alt="{{language.languageImage.alt}}" class="img-responsive"/>
					language.shortDescription
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
