//	Code CSS of the tutorials block in /tutoriels
.tutoriel{
	padding: 5px;

	.panel{
		.panel-body{
			display: flex;

			.left-content{
				width: 46%;
				border-right: 1px solid $gray-lighter;
				margin-right: 3%;
				padding-right: 1%
			}

			.right-content{
				width: 50%;
				color: $gray-light;
				font-size: .85em
			}
		}
	}
}